*
{
    box-sizing: border-box !important;
}

.nav-link{
    color: white !important;
}
.vip{
    background-color: rgb(14,33,47);
}

.bg{
    background-image: url('image/Bk81.jpg');
    height: 100vh;
    background-repeat: no-repeat;
    background-size:100%;
}

.bg1{
    background-image: url('image/upgrade-background.jpg');
    height: 100vh;
    background-repeat: no-repeat;
    background-size:100%;
}

.bg2{
    background-image: url('image/referral-background.jpg');
    height: 100vh;
    background-repeat: no-repeat;
    background-size:100%;
}

.bg3{
    background-image: url('image/join-background.jpg');
    height: 100vh;
    background-repeat: no-repeat;
    background-size:100%;
}


 .table{
    color: white;
 }
 h5{
color:gold;
 }

 h6{
    color:gold;
     }
p{
    color: white;
}
