@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*
{
    box-sizing: border-box !important;
    font-family: 'Montserrat', sans-serif;
}

.nav-link, .table, p
{
    color: white !important;
}
.vip{
    background-color: black;
     /* rgb(14,33,47); */
}

.bg, .bg1, .bg2, .bg3
{
    background-image: url('image/Bk81.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.bg
{
    background-position: top right;
}
.bg1
{
    background-image: url('image/upgrade-background.jpg');
}

.bg2
{
    background-image: url('image/referral-background.jpg');
}

.bg3
{
    background-image: url('image/join-background.jpg');
}

 h1,h2,h3,h4,h5,h6
{
    color:gold;
 }
 th
 {
    color: greenyellow;
 }

 

